body{
    background-color: cornsilk;
    color: gold;
}
#score{
 font-size: 30px;
 float:left;
 margin-left: 10px;
}
#timer{
    font-size: 30px; 
    float:right;  
    margin-right: 10px;
   }
   h1{
       color:green;
       background-color: cornsilk;
   }
   canvas{
       border:5px solid white;
        border-radius: 20px;
        animation-name: example;
        animation-duration: 4s;
        margin-top: 50px;
        animation-iteration-count: infinite;
   }

   @keyframes example{
    from{box-shadow: 1px 1px 38px red;}
    to{box-shadow: 1px 1px 38px blue;}
   }

